@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./style.css');

/**
* Estilos base
**/
@layer base {
  body {
    @apply bg-[#E6E6E6] dark:h-[full] dark:w-[full] dark:bg-gradient-to-t dark:from-[#0f0f0f] dark:via-[#1a1a1a] dark:to-black;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  html {
    scroll-behavior: smooth;
  }
}
