@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('style.css');



@layer base {
  body {
    @apply  bg-white;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
}