@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lfyl2');
  src:  url('fonts/icomoon.eot?lfyl2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lfyl2') format('truetype'),
    url('fonts/icomoon.woff?lfyl2') format('woff'),
    url('fonts/icomoon.svg?lfyl2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Telefono .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
}
.icon-Telefono .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Whats-negro .path1:before {
  content: "\e912";
  color: rgb(255, 255, 255);
}
.icon-Whats-negro .path2:before {
  content: "\e913";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-Flecha-derecha:before {
  content: "\e90e";
  color: #000;
}
.icon-Correo-oscuro .path1:before {
  content: "\e90f";
  color: rgb(0, 0, 0);
}
.icon-Correo-oscuro .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Correo-oscuro .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Cerrar-menu:before {
  content: "\e90b";
}
.icon-Ellipse-16px:before {
  content: "\e90c";
}
.icon-Ellipse-8px:before {
  content: "\e90d";
}
.icon-Facebook-Dark .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.icon-Facebook-Dark .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Instagram-Dark .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-Instagram-Dark .path2:before {
  content: "\e905";
  margin-left: -0.9755859375em;
  color: rgb(255, 255, 255);
}
.icon-Pinterest-Dark .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.icon-Pinterest-Dark .path2:before {
  content: "\e907";
  margin-left: -0.9755859375em;
  color: rgb(255, 255, 255);
}
.icon-Menu-16px:before {
  content: "\e908";
}
.icon-Claro-16px:before {
  content: "\e909";
}
.icon-Obscuro-16px:before {
  content: "\e90a";
}
.icon-WhatsApp .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-WhatsApp .path2:before {
  content: "\e901";
  margin-left: -0.9755859375em;
  color: rgb(26, 204, 62);
}
